---
layout: information-page
title: About
published: true
page_blocks:
  - _id: text_block
    header: Test this one
    content_markdown: Does this work?
---

<div class="landing-buttons container pt-4">

    <div class="row">
        {% for link in site.data.about-page %}
        <div class="xl-3 col-md-4 col-sm-12 mb-4">
            <a href="{{ link.link }}" class="btn btn-primary btn-lg" role="button">{{ link.name }}</a>
        </div>

        {% endfor %}

    </div>

</div>
<div class="container">
    {% for block in page.page_blocks %}
    {% case block._id %}
    {% when 'text_block' %}
    {% include text-block.html block=block %}
    {% endcase %}
    {% endfor %}
</div>