---
layout: information-page
title: About
published: true
page_blocks:
---

<div class="landing-buttons container pt-4">

    <div class="row">
        {% for link in site.data.about-page-link %}
        <div class="xl-3 col-md-4 col-sm-12 mb-4">
            <a href="{{ link.link }}" class="btn btn-primary btn-lg" role="button">{{ link.name }}</a>
        </div>

        {% endfor %}

    </div>
    <blockquote>
        <p>To err is human! Some more really long stuff because I
            need to make sure
            this but of text overflows at least on to two lines, but possibly a third because I don't think this is
            indenting properly.
        </p>
        <footer class="blockquote-footer">by <cite>Alexander Pope</cite></footer>
    </blockquote>

</div>
{% for block in page.page_blocks %}
{% case block._id %}
{% when 'text_block' %}
{% include text-block.html block=block %}
{% endcase %}
{% endfor %}