---
layout: default
title: Our governors
slug: governors
published: true
description: St. Invicta's governors are very important to our school. They do some things.
header_image: /uploads/foto-sushi-6anudmpilw4-unsplash.jpg
governors:
  - name: James Governor
    image: /assets/images/head.jpg
    job: Chair
  - name: Sarah Jones
    image: /assets/images/head.jpg
    job: Parent governor
  - name: Steven Johnson
    image: /assets/images/head.jpg
    job: Parent governor
  - name: Mark Francis
    image: /uploads/edward.jpg
    job: Staff governor
  - name: Sonia Governor
    image: /assets/images/head.jpg
    job: Parent governor
---
{% if page.header_image %}
{% include hero-image.html %}
{% endif %}
{% if page.header_image %}
{% else %}
<div class="container pb-2">
    {% include breadcrumbs.html %}
    <h1 class="mt-2" data-i18n="{{ page.title | slugify }}_title"> {{ page.title}} </h1>
    {% endif %}
</div>

<div class="py-3 container editable">
    <p>Our governors are a hugely important part of St. Invicta's. They keep us in check, on track and provide
        support
        to our teachers. Here's what they do:</p>
    <ul>
        <li>Some things</li>
        <li>Another one</li>
    </ul>
    <ol>
        <li><strong>Ordered</strong> list as well.</li>
    </ol>
    <h2>Bigger</h2>
    <h5>Smaller h5</h5>
</div>
</div>
</section>
<section class="team py-4">
    <h3 class="container py-3">
        Meet our governors
    </h3>
    <div class="team container">

        <div class="row">
            {% for governor in page.governors %}
            <div class="col-xl-4 col-md-6 mb-4 mx-auto">
                <div class="card border-0 shadow">
                    <img src="{{ governor.image }}" class="card-img-top" alt="{{ governor.name }}" />
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">{{ governor.name }}</h5>
                        <div class="card-text text-black-50">{{ governor.job }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>