---
layout: default
title: Home
button_link: /school-information/welcome/
---

<header class="page-header header container-fluid">
    <div class="overlay"></div>
    <div class="description">
        <h1>Welcome to St. Invicta's!</h1>
        <p>A warm welcome to all prospective students, parents and staff members from everyone here at St. Invicta's.
        </p>
        <a href="{{ page.button_link }}" class="btn btn-primary btn-lg" role="button">Read our head's welcome</a>
    </div>
</header>

<section class="pt-5 pb-2 news">
    <div class="container">
        <h2 class="pb-3 text-center">Latest school news</h2>
        <div class="row">
            {% assign posts = site.posts | sort: 'posted_date' | reverse %}
            {% for post in posts limit:3 %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card-content">
                    <div class="card-img">
                        {% if post.header_image %}
                        <img src="{{ post.header_image }}" alt="{{ post.title }}">
                        {% else %}
                        <img src="/assets/images/news-radio.jpg" alt="{{ post.title }}">
                        {% endif %}
                        <span>
                            <h4>Posted {{ post.posted_date | date_to_string }}</h4>
                        </span>
                    </div>
                    <div class="card-desc">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description | truncatewords: 15 }}</p>
                        <a href="{{ post.url }}" class="btn-card">Read</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <h5 class="mb-3">School calendar</h5>

                <div class="responsive-iframe-container hidden-sm-down">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FLondon&amp;src=MmcyaWJ0YW12dml1NmpjdGdsNmo2c3UzNDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%237CB342&amp;color=%233F51B5&amp;showTitle=0&amp;showPrint=0&amp;showTabs=1&amp;showTz=0&amp;mode=MONTH&amp;hl=en_GB&amp;showNav=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 editable">
                <h5 class="text-center mb-3">Quick links</h5>
                <div class="landing-buttons">
                    <a href="https://www.google.com" class="btn btn-info btn-md" role="link">Link to Google</a>
                </div </div>
            </div>
        </div>
</section>