---
layout: content-page
title: Test accordion
slug:
header_image:
file_path:
button:
  button_link:
  button_text:
description:
section:
  - header: one
    content: This is the first bit of accordion content. Just got to work out how to get it so editors can add an accordion themselves.
  - header: two
    content: Something else
---

<div class="container editable" data-i18n="{{ page.title | slugify }}_content">
  Content here.
  {% for section in page.section %}
  {% if section[0] !== blank %}
  <div class="container" data-i18n="{{ page.title | slugify }}_accordion">{% include accordion.html %}</div>
  {% else %}
  {% endif %}
  {% endfor %}