<div class="container bs-accordion py-3" data-i18n="{{ page.title | slugify }}_accordion">
    <div class="accordion" id="{{ page.title }}_accordion">
      {% for accordion in page.expandable-section %}
        <div class="card">
            <div class="card-header" id="{{ accordion.header | slugify }}">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.index }}"><i class="fa"></i> {{ accordion.header }}</button>									
                </h2>
            </div>
            <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}">
  
                <div class="card-body">
                  {{ accordion.content_markdown | markdownify }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
