<button class="btn btn-outline-success openall">open all sections</button> <button class="btn btn-outline-danger closeall">close all sections</button>
<div class="bs-accordion py-3 content-accordion" data-i18n="{{ page.title | slugify }}_accordion">
  <div class="accordion" id="{{ page.title }}_accordion">
    {% for accordion in page.expandable-section %}
    <div class="card">
      <div class="card-header" id="{{ accordion.header | slugify }}">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link collapsed text-left btn-block d-flex align-items-center" data-toggle="collapse"
            data-target="#content-collapse{{ forloop.index }}">{{ accordion.header }}<i class="fa float-right ml-auto"></i></button>
        </h2>
      </div>
      <div id="content-collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}">

        <div class="card-body">
          {{ accordion.content_markdown | markdownify }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>