{% assign alert = site.alerts %}
{% for item in alert %}
{% if item.active %}
<div class="bs-accordion alert-card" data-i18n="{{ item.title | slugify }}_accordion">
    <div class="accordion" id="{{ item.title }}_alert">
      <div class="card">
        <div class="card-header" id="{{ item.title | slugify }}">
          <h2 class="mb-0 container">
              {% if item.start-open %}
            <button type="button" class="btn btn-link btn-block text-left" data-toggle="collapse"
              data-target="#collapse{{ forloop.index }}"><i class="fas fa-exclamation-triangle"></i><i class="fa"></i>{{ item.title }}</button>
              {% else %}
              <button type="button" class="btn btn-link btn-block text-left collapsed" data-toggle="collapse"
              data-target="#collapse{{ forloop.index }}"><i class="fas fa-exclamation-triangle"></i><i class="fa"></i>{{ item.title }}</button>
              {% endif %}
          </h2>
        </div>
        {% if item.start-open %}
            <div id="collapse{{ forloop.index }}" class="collapse show" aria-labelledby="heading{{ forloop.index }}">
        {% else %}
            <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}">
        {% endif %}
        <div class="container">
        <div class="row">
          <div class="card-body col-lg-8 col-sm-12" id="alert-main-section">
              <div class="alert-border">
            {{ item.content | markdownify }}
          </div>
        </div>
            <div class="col-lg-4 col-sm-12" id="alert-right-section">
                <div class="py-2">
                    {% if item.button_text %}
                    <a href="{{ item.button_link }}" class="btn btn-primary btn-md btn-school-main btn-block">{{ item.button_text }}</a>
                    {% else %}
                    {% endif %}
                </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}