<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title text-left"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            </div>
            <div id="calendarName" class="modal-body"></div>
            <div id="eventDate" class="modal-body"></div>
            <div id="eventTime" class="modal-body"></div>
            <div id="eventDescription" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button class="btn btn-primary"><a id="eventUrl" target="_blank">See event on Google</a></button> -->
            </div>
        </div>
    </div>
</div>