<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                <p>Something else about the school goes here.</p>
                <p>Finally, should we include some additional words?</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>12 Madeup Road, Eastbourne, BN00 6TT
                    <br />info@madeup.sch.uk
                    <br />+ 01 234 567 88
                    <br />+ 01 234 567 89</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <a href="https://getwebsupport.co.uk" class="footer-brand"><img height="60" srcset="/assets/images/wst-logo-w150.png 150w, /assets/images/wst-logo-w80.png, 80w" sizes="(max-width: 640px) 150px, 150px" src="/assets/images/wst-logo.png"
                        alt="Web Support Team logo" class="img-fluid" aria-label="Web Support Team website"></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">

                <a href="https://eastsussex.gov.uk" class="footer-brand"><img height="67" srcset="/assets/images/escc-logo-large.png 93w, /assets/images/escc.png, 900w" sizes="(max-width: 640px) 93px, 93px" src="/assets/images/escc.png"
                        alt="East Sussex County Council logo" class="img-fluid" aria-label="East Sussex County Council website"></a>
            </div>
        </div>
    </div>
            <div>
                <div class="footer-copyright text-center">© 2020 Copyright: ESCC Web Support Team
                </div>
            </div>
            <div>
                <div class="bg-dark text-white text-center p-2"><a
                        href="https://translate.google.com/translate?sl=auto&tl=es&u=https%3A%2F%2Fpuny-caribou.cloudvent.net%2F">Translate
                        website through Google</a>
                </div>
            </div>
</footer>