<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div>Website created and maintained by <a
                    href="https://getwebsupport.co.uk">Web Support Team</a>
                    <p>View <a href="/sitemap.xml">sitemap</a></p>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <p>12 Madeup Road, Eastbourne, BN00 6TT
                    <br />info@madeup.sch.uk
                    <br />+ 01 234 567 88
                    <br />+ 01 234 567 89</p>
            </div>
        </div>

    </div>
    <div>
        <div class="bg-dark text-white text-center p-2"><a
                href="https://translate.google.com/translate?sl=auto&tl=es&u={{ page.url | absolute_url }}">Translate
                page through Google</a>
        </div>
    </div>
</footer>