<button id="mapPopup" class="btn btn-outline-info btn-md collapsed text-left btn-block col-12 col-md-6 align-items-center d-flex gov-box stretched-link showHide" type="button" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Show map<span class="fa float-right mr-0 ml-auto pl-3"></span></button>

<div class="collapse pt-3" id="collapseMap">
<div class="map-container">
    <div id="map"></div>
</div>
</div>

<script>

var map;

const schoolLocation = { lat: {{ page.map_latitude }}, lng: {{ page.map_longitude }}};
const markerLocation = '{{ page.map_marker_location }}';

function initMap() {


map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: schoolLocation,
});

var placeIdFinder = {
    location: map.getCenter(),
    radius: '500',
    query: markerLocation,
  };

  var idFinderService = new google.maps.places.PlacesService(map);
  idFinderService.textSearch(placeIdFinder, callback);

  function callback(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    var placeId = results[0].place_id;
  };


let request = {
    placeId: placeId,
    fields: ["name", "formatted_address", "place_id", "geometry", "url",],
};

const infowindow = new google.maps.InfoWindow();
const service = new google.maps.places.PlacesService(map);
service.getDetails(request, (place, status) => {
if (status === google.maps.places.PlacesServiceStatus.OK) {
  const marker = new google.maps.Marker({
    map,
    position: place.geometry.location,
  });
  google.maps.event.addListener(marker, "click", function () {
    infowindow.setContent(
      "<div><strong>" +
        place.name +
        "</strong><br>" +
        "<br>" +
        place.formatted_address +
        "<br><br>" +
        `<a href="${place.url}">Get directions on Google maps</a>` +
        "</div>"
    );
    infowindow.open(map, this);
  });
}
});
}};

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&libraries=places&v=weekly"></script>