<section class="team py-4">
    <h3 class="container py-3">
        Meet our governors
    </h3>
    <div class="team container">

        <div class="row">
            {% for governor in page.governors %}
            <div class="col-xl-4 col-md-6 mb-4 mx-auto">
                <div class="card border-0 shadow">
                    {% if governor.image %}
                    <img src="{{ governor.image }}" class="card-img-top profile-img" alt="{{ governor.name }}"
                        width="300" height="300" />
                    {% else %}
                    <img src="/assets/images/silhouette.png" class="card-img-top profile-img" alt="{{ governor.name }}"
                        width="300" height="300" />
                    {% endif %}
                    <div class="card-body text-left accordion">
                        <h5 class="card-title mb-0">
                            <button type="button" class="btn btn-link collapsed text-left" data-toggle="collapse"
                                data-target="#collapse{{ forloop.index }}"><i
                                    class="fa"></i>{{ governor.name }}</button>
                        </h5>
                        <div id="collapse{{ forloop.index }}" class="collapse"
                            aria-labelledby="heading{{ forloop.index }}">
                            <div class="card-text text-black-50"><b>Role</b>: {{ governor.job }}</div>
                            <div class="card-text text-black-50"><b>Appointed on</b>:
                                {{ governor.appointed_date | date_to_string }}</div>
                            <div class="card-text text-black-50"><b>Appointing body</b>:
                                {{ governor.appointing-body }}</div>
                            <div class="card-text text-black-50"><b>Term</b>:
                                {{ governor.term-start_date | date_to_string }} to
                                {{ governor.term-end_date | date_to_string }}</div>
                            {% if governor.declare-interests_text %}
                            <div class="card-text text-black-50"><b>Business, pecuniary or personal interests</b>:
                                {{ governor.declare-interests_text }}</div>
                            {% endif %}
                            {% if governor.governor-elsewhere_text %}
                            <div class="card-text text-black-50"><b>Other governance role</b>:
                                {{ governor.governor-elsewhere_text }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>