<head>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% seo %}


    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <script type="text/javascript"> (function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.13.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();
    </script>


    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <div class="skip-container">
        <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
    </div>
</head>