<div class="masthead" style="background-image:url('{{ page.header_image }}');">
    <div class="container h-100 masthead-overlay">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center position-absolute">
                <h1 data-i18n="{{ page.title | slugify }}_title">{{ page.title }}</h1>
            </div>
            <div class="col-12 mt-auto breadcrumb-header">
                <div class="container">
                    {% include breadcrumbs.html %}
                </div>
            </div>
        </div>
    </div>
</div>