<div class="masthead">

<!-- Pick which image is used -->

<script type="module">

    var mobileImage = '{{ page.mobile_header_image }}';
    var image = '{{ page.header_image }}';

    function mobileCheck() {
        if (window.innerWidth <= 768) {
            document.querySelector('.masthead').style.backgroundImage = `url(${mobileImage})`;
            return true;
        } else {
            document.querySelector('.masthead').style.backgroundImage = `url(${image})`;
            return false;
        }
    };

    mobileCheck();
    window.addEventListener('resize', mobileCheck);


</script>
</div>