<nav class="navbar navbar-expand-lg">
    <a href="/" class="navbar-brand"><img loading="eager" height="76" width="118" srcset="/assets/images/wst-logo-w150.png 150w, /assets/images/wst-logo-w80.png, 80w" sizes="(max-width: 640px) 80px, 150px" src="/assets/images/wst-logo-w150.png" alt="Web Support Team logo"></a>
    <button class="navbar-toggler second-button collapsed navbar-light" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="visually-hidden">Navbar toggle</span>
        <span class="navbar-toggler-icon"></span>
        <span class="close-icon py-1"><i class="fas fa-times"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">

        <ul class="navbar-nav nav nav-right">
            {% for item in site.data.navigation %}

            <li class="nav-item">
                <a {% if page.url contains item.link %} class="nav-link current" class="nav-link current" {% endif %}
                    class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}

        </ul>

        <a href="/search" class="btn btn-outline-secondary border-left-0 border nav-search-button">
            <span class="sr-only">Search</span>
            <i class="fa fa-search img-responsive"></i>
        </a>
    </div>
</nav>