<nav class="navbar navbar-expand-md">
    <a href="/" class="navbar-brand"><img src="/assets/images/wst-logo.png" alt="Web Support Team logo"
            class="img-responsive"></a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">

        <ul class="navbar-nav">
            {% for item in site.data.navigation %}

            <li class="nav-item">
                <a {% if page.url == item.link %} class="nav-link current" {% endif %} class="nav-link"
                    href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}

        </ul>
        <div class="input-group col-md-3">
            <label for="search-input">
                <span class="visually-hidden">Search</span>
            </label>
            <input class="form-control py-2 border-right-0 border" type="search" value="" placeholder="search"
                id="search-input" role="search">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</nav>