<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.8/lunr.min.js" integrity="sha256-34Si1Y6llMBKM3G0jQILVeoQKEwuxjbk4zGWXXMT4ps=" crossorigin="anonymous"></script>

<script>
    {% assign counter = 0 %}
    var documents = [{% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'robots' or page.url contains 'assets' %}{% else %}{
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '  ', ' ' | replace: '"', ' ' | replace: '&nbsp;', ' '  }}",
        "description": "{{ page.description }}"
        {% assign counter = counter | plus: 1 %}
        }, {% endif %}{% endfor %}
        {% for page in site.documents %}{
            "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | newline_to_br | strip_newlines | replace: '<br />', ' ' | replace: '  ', ' ' | replace: '"', ' ' | replace: '&nbsp;', ' '  }}",
        "accordion": "{{ page.expandable-section | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' | replace: 'introduction_text', ' ' | replace: 'content_markdown', ' ' | replace: 'text_block', '' | replace: 'link_button', '' | replace: 'link_text', '' | replace: '_id', ' ' | remove: '=' | replace: '[', '' | replace: ']', '' | replace: '{', '' | replace: '&gt', ' ' | replace: '“', '' | replace: '”', '' | replace: ';', '' | replace: ',', ' ' | replace: 'header', ' ' | remove: '*' | remove: '#' }}",
        "scrollspy": "{{ page.scroll-section | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' | replace: 'introduction_text', ' ' | replace: 'content_markdown', ' ' | replace: 'text_block', '' | replace: 'link_button', '' | replace: 'link_text', '' | replace: '_id', ' ' | remove: '=' | replace: '[', '' | replace: ']', '' | replace: '{', '' | replace: '&gt', ' ' | replace: '“', '' | replace: '”', '' | replace: ';', '' | replace: ',', ' ' | replace: 'header', ' ' | remove: '*' | remove: '#' }}",
        {% for gallery in page.gallery %} "gallery-heading{{ forloop.index }}": "{{ gallery.heading | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' | replace: 'introduction_text', ' ' | replace: 'content_markdown', ' ' | replace: 'text_block', '' | replace: 'link_button', '' | replace: 'link_text', '' | replace: '_id', ' ' | remove: '=' | replace: '[', '' | replace: ']', '' | replace: '{', '' | replace: '&gt', ' ' | replace: '“', '' | replace: '”', '' | replace: ';', '' | replace: ',', ' ' | replace: 'header', ' ' | remove: '*' | remove: '#' }}", {% endfor %}
        {% for gallery in page.gallery %} "gallery-introduction{{ forloop.index }}": "{{ gallery.introduction_markdown | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' | replace: 'introduction_text', ' ' | replace: 'content_markdown', ' ' | replace: 'text_block', '' | replace: 'link_button', '' | replace: 'link_text', '' | replace: '_id', ' ' | remove: '=' | replace: '[', '' | replace: ']', '' | replace: '{', '' | replace: '&gt', ' ' | replace: '“', '' | replace: '”', '' | replace: ';', '' | replace: ',', ' ' | replace: 'header', ' ' | remove: '*' | remove: '#' }}", {% endfor %}
        "description": "{{ page.description }}"
        {% assign counter = counter | plus: 1 %}
        }, {% endfor %}

        {% for page in site.posts %}{
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "title": "{{ page.title }}",
        "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}",
        "description": "{{ page.description }}"
        {% assign counter = counter | plus: 1 %}
        }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];
    
    var idx = lunr(function () {
        this.ref('id')
        this.field('title', { boost: 10 })
        this.field('body', { boost: 5 })
        this.field('accordion', { boost: 5 })
        this.field('scrollspy', { boost: 5 })
        this.field('gallery-heading1', { boost: 5 })
        this.field('gallery-heading2', { boost: 5 })
        this.field('gallery-heading3', { boost: 5 })
        this.field('gallery-introduction1', { boost: 5 })
        this.field('gallery-introduction2', { boost: 5 })
        this.field('gallery-introduction3', { boost: 5 })
        this.field('description')
        console.log(documents);
    
        documents.forEach(function (doc) {
            this.add(doc)
        }, this)
    });
    function lunr_search(term) {
        document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
        if(term) {
            document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
            //put results on the screen.
            var results = idx.search(term);
            if(results.length>0){
                //console.log(idx.search(term));
                //if results
                for (var i = 0; i < results.length; i++) {
                    // more statements
                    var ref = results[i]['ref'];
                    var url = documents[ref]['url'];
                    var title = documents[ref]['title'];
                    var body = documents[ref]['body'].substring(0,160)+'...';
                    var description = documents[ref]['description'].substring(0,160)+'...';
                    document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span><br /><span class='body'>"+ description +"</span><br /><span class='url'>"+ url +"</span></a></li>";
                }
            } else {
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
            }
        }
        return false;
    }
    </script>
    
    
    <form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
        <div class="form-row">
            <div class="col-9">
                <label class="sr-only" for="lunrsearch">Search field</label><input type="search" class="form-control"
                    id="lunrsearch" name="q" maxlength="255" value="" placeholder="Search our site..." autocomplete="off" />
            </div>
            <div class="col-3">
                <button class="btn btn-success" type="submit"><span class="sr-only">Submit search</span><i class="fa fa-search img-responsive"></button>
            </div>
        </div>

    </form>
    <div id="lunrsearchresults">
        <ul></ul>
    </div>