
p.text-left {
    text-align: left;
}

p.text-right {
    text-align: right;
}

p.text-center {
    text-align: center;
}

.callout {
    background: var(--school-primary-colour-light);
    border-left: 10px solid var(--school-primary-colour);
}

.callout p {
    display: inline;
}