
p.text-left {
    text-align: left;
}

p.text-right {
    text-align: right;
}

p.text-center {
    text-align: center;
}

blockquote {
    background: var(--school-primary-colour-light);
    font-size: 1.2rem;
    border-left: 10px solid var(--school-primary-colour);
    margin: 1.5em 2em;
    padding: 0.5em 1.5em;
}