@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Oxygen:400,700&display=swap");
:root {
    --main-bg-colour: #fff;
    --second-bg-colour: rgba(223, 223, 223, 1);
    --school-primary-colour: rgba(30, 79, 240, 1);
    --school-primary-colour-lighterbg: rgba(30, 79, 240, 0.9);
    --school-primary-colour-light: rgba(220, 237, 255, 1);
    --footer-bg-colour: rgba(160, 160, 160, 1);
    --footer-text-colour: rgba(40, 40, 40, 1);
    --govuk-highlight-colour: #fd0;
    --navbar-text-colour: rgba(29, 29, 29, 1);
    --alert-background: rgba(221, 255, 0, 0.3);
    --fc-today-bg-color: rgba(255,220,40,.25);
    --fc-bg-colour-1: rgb(35, 230, 100);
    --fc-bg-colour-2: rgb(93, 209, 255);
    --fc-bg-colour-3: rgb(230, 168, 62);
}

.map-container {
    height: 400px;
}

#map {
    width: 100%;
    height: 100%;
    position: relative;
}

.showHide span.fa, .showHide span.fas, .showHide span.far {
    font-size: 1.5rem;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "PT Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    /* padding: 0 0 0 0; */
    /* margin-top: auto; */
    background: var(--main-bg-colour);
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    clear: both;
    padding: 0.25rem 0 0.25rem 0;
}

body h2, body h3, body h4, body h5, body h6 {
    padding: 1.5rem 0 0.25rem 0;
}

p {
    margin-top: 0.3rem;
}

/* --- skip content ---*/

.skip-container {
    position: absolute;
    z-index: 10;
    margin: 0.2em 0 0 5.5em;
}

.skip-container a {
    text-decoration: none;
}

.skip-container a:focus {
    background-color: var(--govuk-highlight-colour);
    color: #0b0c0c;
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
}

/*--- navigation bar ---*/

.navbar {
    background: var(--second-bg-colour);
    padding: 0.2rem 0.5rem;
}

.navbar-nav li a {
    padding: 0px 15px;
    margin: 5px 0 5px 0;
    border-bottom: 3px;
    border-color: transparent;
    border-bottom-style: solid;
}

.nav-link, .navbar-brand {
    color: var(--navbar-text-colour);
    cursor: pointer;
}

.navbar-brand img {
    max-height: 60px;
}

a.navbar-brand:focus {
    outline: 3px solid var(--govuk-highlight-colour);
    border-bottom-style: none;
    background-color: var(--govuk-highlight-colour)
}

.nav-link {
    font-size: 1rem;
    margin-right: 0.6em !important;
}

.current {
    color: var(--school-primary-colour);
    border-bottom-color: var(--school-primary-colour) !important;
}

.nav-link:hover {
    color: var(--school-primary-colour);
    border-bottom-color: var(--school-primary-colour);
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-search-button {
    margin: 0 7px 0 0;
    padding: .4rem .3rem .3rem .75rem;
    transition: none;
}

.btn-outline-secondary {
    color: var(--navbar-text-colour);
}

.border.nav-search-button {
    border-color: var(--second-bg-colour) !important;
}

.nav-search-button:focus {
    outline: 3px solid var(--govuk-highlight-colour);
    box-shadow: none;
}

.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

.fa-times {
    font-size: 1.5em;
    color: var(--navbar-text-colour);
    margin-right: 0.2rem;
}

a.nav-link:focus {
    outline: 3px solid transparent;
    background-color: var(--govuk-highlight-colour);
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    color: #0b0c0c;
    transition: none;
    border-bottom-style: none;
}

@media (max-width: 992px) {
    .current {
        border-bottom: none;
    }
    .navbar-nav li a {
        border-bottom: none;
    }
    .nav-search-button {
        margin: 5px 0 8px 0;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .input-group {
        max-width: 100%;
    }
}

/*--- home header section ---*/

@media screen and (max-device-width: 1024px) {
    .header, .masthead, .carousel-item {
        background-attachment: initial !important;
    }
    .masthead h1, .masthead h2, .masthead h3, .masthead p {
        text-align: left !important;
    }
    .masthead.home h1, .masthead.home h2, .masthead.home h3, .masthead.home p {
        text-align: center !important;
    }
    .masthead.home .masthead-overlay .description {
        position: relative !important;
    }
    .carousel-indicators {
        margin-bottom: 24% !important;
    }
}

.description {
    left: 50%;
    top: 75%;
    position: absolute;
    transform: translate(-50%, -60%);
    text-align: center;
    width: 100%;
    z-index: 1000;
    background-color: rgba(1, 50, 67, 0.65);
    padding: 1rem;
}

.description h1 {
    color: var(--main-bg-colour);
}

.description p {
    color: var(--main-bg-colour);
    font-size: 1.3rem;
    line-height: 1.5;
}

.description a.btn {
    border: 1px solid var(--school-primary-colour);
    background: var(--school-primary-colour);
    border-radius: 0.5em;
    color: var(--main-bg-colour);
}

.description a.btn:hover {
    transition: 0.6s;
    border: 1px solid var(--main-bg-colour);
    background: var(--main-bg-colour);
    color: var(--school-primary-colour);
}

/*--- home calendar section ---*/

section.calendar {
    background-color: var(--second-bg-colour);
}

/*--- masthead ---*/

.masthead {
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.masthead.home {
    height: 100vh;
}

.masthead h1, .masthead h2, .masthead h3, .masthead p {
    color: var(--main-bg-colour);
}

/* --- buttons --- */

div .btn-school-main {
    background-color: var(--school-primary-colour);
    border-color: var(--school-primary-colour);
}

div .btn-school-main:hover {
    background-color: var(--school-primary-colour-lighterbg);
    border-color: var(--school-primary-colour-lighterbg);
}

div .btn-school-main:focus {
    background-color: var(--school-primary-colour-lighterbg);
    border-color: var(--school-primary-colour-lighterbg);
    box-shadow: 0 0 0 0.2rem var(--govuk-highlight-colour);
}

div .btn-school-main:not(:disabled):not(.disabled):active {
    background-color: var(--school-primary-colour-lighterbg);
    border-color: var(--school-primary-colour-lighterbg);
}

/* --- carousel ---*/

.carousel-item {
    height: 100%;
    min-height: 95vh;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-indicators {
    margin-bottom: 5%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0.6;
}

.carousel {
    i.fa, i.fas, i.far {
        font-size: 1.8rem;
        color: var(--main-bg-colour);
    }
}


/*--- Lunr search ---*/

#lunrsearchresults {
    padding-top: 0.5rem;
}

.lunrsearchresult {
    padding-bottom: 0.5rem;
}

.lunrsearchresult .title {
    color: #d9230f;
}

.lunrsearchresult .url {
    color: silver;
}

.lunrsearchresult a {
    display: block;
    color: #777;
}

.lunrsearchresult a:hover, .lunrsearchresult a:focus {
    text-decoration: none;
}

.lunrsearchresult a:hover .title {
    text-decoration: underline;
}

/*--- Footer ---*/

footer a {
    color: var(--footer-text-colour);
    text-decoration: underline;
}

footer a:focus {
    background-color: var(--govuk-highlight-colour);
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    text-decoration: none;
    color: #0b0c0c;
}

.page-footer {
    background-color: var(--footer-bg-colour);
    color: var(--footer-text-colour);
    padding: 30px 0 0 0;
}

.text-white a {
    color: var(--main-bg-colour);
    padding: 0 0.2rem 0;
    text-decoration: none;
}

.text-white a:hover {
    text-decoration: underline;
}

.page-footer div.bg-dark a:focus {
    outline: 3px solid transparent;
    background-color: var(--govuk-highlight-colour);
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    color: black;
}

.footer-brand:focus {
    outline: 3px solid var(--govuk-highlight-colour);
}

.footer-copyright {
    color: var(--footer-text-colour);
    padding: 30px 0;
}

.footer-brand img {
    margin: 30px 0 0 10px;
}

/*--- sidebox ---*/

.boxout {
    background-color: var(--second-bg-colour);
}

.boxout h3 {
    padding: 5px;
}

/*--- mobile ---*/

@media (max-width: 575.98px) {
    /* body {
        padding: 60px 0 0 0;
    } */
    .description {
        left: 0;
        position: absolute;
        top: 28%;
        transform: none;
        text-align: center;
        width: unset;
    }
    .navbar-brand img {
        max-height: 45px;
        width: auto;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p {
        font-size: 1.2rem;
    }
    .features {
        margin: 0;
    }
    .input-group {
        margin: 5px 0 8px 0;
    }
    footer .col-sm-6 {
        width: 50%;
    }
}

/*--- buttons ---*/

@media screen and (min-width: 0\0) and (min-resolution:+72dpi) {
    .header, .masthead, .carousel-item {
        background-attachment: scroll !important;

    }
}

/*--- profile section ---*/

section.team {
    background-color: var(--second-bg-colour);
}

.team .card {
    border: none;
    border-radius: 1rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.profile-img {
    object-fit: cover;
}

@media (max-width: 575.98px) {
    .profile-img {
        object-fit: contain;
        margin-right: auto;
        margin-left: auto;
    }
}

.staff-profile-img {
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
}

.staff-profile-img-contain {
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .team .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .team .card:hover .btn {
        opacity: 1;
    }
}

.introduction p {
    color: rgb(94, 92, 92);
    font-size: 1.2rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

/*--- blockquotes ---*/

blockquote {
    background: var(--school-primary-colour-light);
    border-left: 10px solid var(--school-primary-colour);
    margin: 3% 10% 4% 10%;
    padding: 0.5em 1.5em;
}

/*--- Lightbox ---*/

.ekko-lightbox .modal-footer {
    justify-content: flex-start;
}

.modal-footer {
    padding: 0.25rem 0.75rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    .ekko-lightbox .modal-dialog {
      flex: 100%!important;
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;
      -ms-overflow-style: none;
    }
}

.modal-open {
    padding-right: 0 !important;
}
.modal-open .modal {
    overflow: hidden !important;
}

.no-underline:hover {
    text-decoration: none;
}

/*--- image gallery ---*/

.image-gallery {
    overflow: auto;
    margin-left: -1% !important;
}

.image-gallery li {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 19%;
}

.image-gallery li a {
    text-align: center;
    text-decoration: none !important;
    color: #777;
}

.image-gallery li a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
}

.image-gallery li a img {
    width: 100%;
    display: block;
}

ul.image-gallery {
    padding-inline-start: 0.25rem;
}

/*--- news section ---*/

p.news-intro {
    color: rgb(189, 11, 11);
}

/*--- news homepage cards ---*/

section.news {
    padding: 100px 0;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-content:hover, .card-content:focus-within, .card-content:focus {
    background-color: var(--school-primary-colour-light);
    outline: 3px solid transparent;
    outline-color: var(--govuk-highlight-colour);
    text-decoration: none;
}

.news .card-content .card-desc:hover, .news .card-content .card-desc:focus {
    background-color: var(--school-primary-colour-light);
    outline: 3px solid transparent;
    outline-color: var(--govuk-highlight-colour);
    text-decoration: none;
}

.card-desc a.stretched-link:focus {
    background-color: var(--govuk-highlight-colour);
    outline: 3px solid transparent;
    outline-color: var(--govuk-highlight-colour);
    box-shadow: 0 2px var(--govuk-highlight-colour), 0 8px #0b0c0c;
    text-decoration: none;
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-img span {
    position: absolute;
    top: 15%;
    left: 25%;
    background: #1abc9c;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%, -50%);
}

.card-img span h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 5px;
    line-height: 0;
}

.card-desc {
    padding: 1.25rem;
}

.card-desc a {
    color: #000;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    line-height: 1.3em;
    height: 4rem;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    height: 4rem;
    margin: 0px;
    margin-bottom: 2rem;
    padding: 0.3rem 0 0 0;
}

.btn-card {
    background-color: #1abc9c;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-card:hover {
    background: orange;
}

a.btn-card {
    text-decoration: none;
    color: #fff;
}

/* End card section */

/*--- icons ---*/

p {
    i.fa, i.fas, i.far {
        font-size: 1.6rem;
        margin-right: 8px;
    }
    a {
        text-decoration: underline;
    }
}

.fa-file-pdf {
    color: rgb(186, 8, 8);
}

.fa-file-word {
    color: #4083ff;
}

.fa-file-excel {
    color: #16c224;
}

/*--- general ---*/

.gov-link:focus { 
    outline: 3px solid transparent;
    background-color: var(--govuk-highlight-colour);
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    color: black;
    text-decoration: none;
}

.gov-box:focus { 
    outline: 3px solid var(--govuk-highlight-colour);
    text-decoration: none;
}

a.cc-active {
    text-decoration: none;
}

.visually-hidden {
    display: none;
}

ul {
    overflow: hidden;
}

li:not(.lunrsearchresult) a:not(.no-style):not(.nav-link):not(.navbar-brand):not(.footer-brand):not(.nav-search-button):not(.lightbox-image), p a:not(.no-style):not(.nav-link):not(.navbar-brand):not(.footer-brand):not(.nav-search-button):not(.lightbox-image) {
    text-decoration: underline;
}

li:not(.lunrsearchresult) a:focus:not(.nav-link):not(.navbar-brand):not(.footer-brand):not(.nav-search-button):not(.lightbox-image), p a:focus:not(.nav-link):not(.navbar-brand):not(.footer-brand):not(.nav-search-button):not(.lightbox-image) {
    background-color: var(--govuk-highlight-colour);
    color: #0b0c0c;
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    text-decoration: none;
}

.hr-dashed {
    color: rgba(92, 92, 92, 1);
    border-top: 2px dashed;
}

/*-- image options in editor --*/

p img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    display: block;
    margin-right: auto;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.align-left {
    margin-right: auto;
    margin-left: 0;
}

.centred {
    margin-right: auto;
    margin-left: auto;
}

.align-right {
    margin-left: auto;
    margin-right: 0;
}

.new-line {
    clear: both;
}

/*-- fullcalendar --*/

.fc table {
    margin-bottom: 0;
}

.fc thead {
    color: #fff;
    background-color: var(--school-primary-colour);
}

.modal-footer .btn a {
    color: #fff;
}

.modal-footer .btn a:hover {
    text-decoration: none;
}

.modal-body {
    padding: 0.5rem 1rem;
}

.fc .fc-daygrid-day-number {
    font-size: 1rem;
}

.fc-footer-toolbar {
    display: none !important;
}

#calendar .fc-daygrid-body tr, #calendar .fc-daygrid-body td {
    border: 2px solid #dee2e6;
}

@media (max-width: 768px) {
    .fc .fc-toolbar.fc-header-toolbar, .fc .fc-toolbar.fc-footer-toolbar {
        display: block;
        text-align: center;
    }

    .fc-header-toolbar .fc-toolbar-chunk {
        display: block;
        padding: 0.25rem;
    }

    .fc-toolbar-chunk {
        width: unset;
    }

    .fc-header-toolbar .fc-toolbar-chunk:first-child {
        display: none;
    }

    .fc-footer-toolbar {
        display: block !important;
    }
}

#fullCalModal span.fas, #fullCalModal span.far {
    font-size: 1.25rem;
    padding-right: 0.5rem;
}

#fullCalModal span.fa-calendar-day {
    color: rgba(255, 0, 0, 1);
}

#fullCalModal span.fa-clock {
    color: rgba(0, 0, 255, 1);
}

#fullCalModal span.fa-chalkboard-teacher {
    color: rgba(0, 164, 0, 1);
}


/*-- table --*/

table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #dee2e6;
}

thead {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

thead th, thead td {
    border-bottom-width: 2px;
}

thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

th, td {
    border: 1px solid #dee2e6;
    padding: .75rem;
}

div#breadcrumbs {
    font-size: 1rem;
}

#breadcrumbs a {
    text-decoration: underline;
    color: var(--school-primary-colour);
}

#breadcrumbs a:focus {
    background-color: var(--govuk-highlight-colour);
    color: #0b0c0c;
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    text-decoration: none;
}

.breadcrumb-header {
    margin-bottom: 0;
    padding: 0.3rem 0 0 0;
    background-color: rgba(255, 255, 255, 0.7);
}

#breadcrumbs i.fa-arrow-right {
    padding: 0 3px;
}

/*--- media embeds ---*/

iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
}

div.audio {
    height: auto;
    width: 300px;
}

/*--- calendar embed ---*/

.mob-calendar ::before {
    padding-top: 75%;
}

@media (max-width: 575.98px) {
    .home-text {
        text-align: left !important;
    }
}

/*--- accordion ---*/

div.accordion .btn-link {
    text-decoration: none;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

div.accordion .btn-link:focus {
    background-color: var(--govuk-highlight-colour);
    color: #0b0c0c;
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c; 
}

div.accordion .card-body {
    padding: 1rem 1rem 1rem 1.5rem;
    position: relative;
    border-top: 1px solid rgba(0,0,0,.125);
}

div.accordion .card-header {
    border-bottom: 0;
    padding: 1rem 1rem 1rem 1.5rem;
    position: relative;
}

div.content-accordion .card-header {
    padding: 0.5rem;
}

.accordion i.fa {
    font-size: 1.5rem;
}

.team [data-toggle="collapse"] .fa:before {
    content: "\f106";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

.content-accordion [data-toggle="collapse"] .fa:before {
    content: "\f106";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
    top: 0.25rem;
}

#mapPopup[data-toggle="collapse"] .fa:before {
    content: "\f106";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

.team [data-toggle="collapse"].collapsed .fa:before {
    content: "\f107";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

.content-accordion [data-toggle="collapse"].collapsed .fa:before {
    content: "\f107";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
    top: 0.25rem;
}

#mapPopup[data-toggle="collapse"].collapsed .fa:before {
    content: "\f107";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

.accordion h5 .btn, .accordion h2 .btn {
    border: none;
    border-radius: 0;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.accordion h5, .accordion h2 {
    padding-top: 0.25rem;
}

.card .collapsing {
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.team .card .collapsing {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

/*--- alert banner ---*/

.alert-card {
    width: 100%;
}

.alert-card .accordion h2 {
    padding-right: 0;
    position: relative;
    padding-top: 0.25rem;
}

.alert-card .card {
    border: 0;
    background-color: var(--alert-background);
}

.alert-card .accordion .card-header {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.5rem;
    background-color: unset;
}

.alert-card h2 .btn {
    font-weight: 700;
    border-radius: 0;
    margin-bottom: 0.25rem;
}

.alert-card .card-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-left: 3px var(--school-primary-colour) dotted;
    margin-bottom: 1rem;
    border-top: none !important;
}

.alert-card .row {
    margin-left: 0;
}

.alert-card hr {
    border: 1px solid var(--alert-background);
}

.fa-exclamation-triangle {
    padding-right: 0.5rem;
    color: red;
}

.alert-card [data-toggle="collapse"] .fa:before {
    content: "\f106";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

.alert-card [data-toggle="collapse"].collapsed .fa:before {
    content: "\f107";
    position: relative;
    padding-right: 0.25rem;
    padding-left: 0.5rem; 
}

/* --- forms --- */

.form-control:focus {
    outline: 3px solid var(--govuk-highlight-colour);
    border-bottom-style: none;
    background: none;
    border: none;
    box-shadow: none;
}

/* --- scrollspy --- */

.left-list {
    padding: 0.5em 0em 1em 0em;
    position: sticky;
    top: 0px;
    bottom: 100%;
}

.scrollspy {
    margin-top: .5rem;
}

.scrollspy h2 {
    background-color: var(--second-bg-colour);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.list-group-item.active {
    background-color: var(--school-primary-colour);
    border-color: var(--school-primary-colour);
}

.list-group-item:focus {
    outline-color: var(--govuk-highlight-colour);
}

.list-group-item {
    background-color: var(--second-bg-colour);
}

@media (max-width: 767.98px) {
    .left-list {
        padding-top: 0;
    }
    .list-group-item {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.scroll-container {
    position: sticky;
    top: 0;
    bottom: 100%;
    z-index: 1030;
}

.back-to-top {
    position: fixed;
    bottom: -1px;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    padding: 10px 0 10px 0;
    background-color: var(--second-bg-colour);
    display: none;
    clear: both;
}

.show {
    display: block;
}

.back-to-top:focus {
    background-color: var(--govuk-highlight-colour);
    color: #0b0c0c;
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;   
}

.back-to-top:hover {
    background-color: var(--second-bg-colour);
    text-decoration: underline;
}

a {
    i.fa, i.fas, i.far {
        margin-right: 8px;
    }
}

.no-float-anchor {
    clear: both;
}

.to-top-anchor {
    float: none;
}

.to-top-anchor:focus {
    background-color: var(--govuk-highlight-colour);
    color: #0b0c0c;
    outline: 3px solid transparent;
    box-shadow: 0 -2px var(--govuk-highlight-colour), 0 4px #0b0c0c;
    text-decoration: none;  
}