@import url("https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i|Oxygen:400,700&display=swap");
html {
    overflow-y: scroll;
}

body {
    font-family: "Cabin", sans-serif;
    font-size: 1.1rem;
    /* padding: 75px 0 0 0; */
    /* margin: 0; */
    background: #f6f9f1;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 2.4rem;
}

/*--- navigation bar ---*/

.navbar {
    background: rgb(223, 223, 223);
    padding: 0.2rem 0.5rem;
}

.navbar-nav li a {
    transition: 0.4s;
    padding: 5px 15px;
    margin: 5px 0 0 0;
}

.nav-link,
.navbar-brand {
    color: rgb(29, 29, 29);
    cursor: pointer;
}

.navbar-brand img {
    max-height: 60px;
}

.nav-link {
    font-size: 1rem;
    margin-right: 1em !important;
}

.current {
    color: #4083ff;
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: rgb(184, 182, 182);
}

.nav-link:hover {
    color: #4083ff;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-search-button {
    margin: 0 7px 0 0;
}

@media (max-width: 992px) {
    .current {
        border-bottom: none;
    }
    .nav-search-button {
        margin: 5px 0 8px 0;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .input-group {
        max-width: 100%;
    }
}

/*--- home header section ---*/

.header {
    background-image: url("/assets/images/classroom2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

@media screen and (max-device-width: 1024px) {
    .header,
    .masthead {
        background-attachment: initial !important;
    }
    .masthead h1,
    .masthead h2,
    .masthead h3,
    .masthead p {
        text-align: left !important;
    }
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(46, 46, 46, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.description h1 {
    color: #ffffff;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description a.btn {
    border: 1px solid #5133fc;
    background: #5133fc;
    border-radius: 0.5em;
    color: #fff;
}

.description a.btn:hover {
    transition: 0.6s;
    border: 1px solid #fff;
    background: #fff;
    color: #5133fc;
}

/*--- masthead ---*/

.masthead {
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.masthead h1,
.masthead h2,
.masthead h3,
.masthead p {
    color: #fff;
}

.masthead-overlay {
    min-width: 100%;
    background: rgba(46, 46, 46, 0.6);
}

/*--- Lunr search ---*/

#lunrsearchresults {
    padding-top: 0.5rem;
}

.lunrsearchresult {
    padding-bottom: 0.5rem;
}

.lunrsearchresult .title {
    color: #d9230f;
}

.lunrsearchresult .url {
    color: silver;
}

.lunrsearchresult a {
    display: block;
    color: #777;
}

.lunrsearchresult a:hover,
.lunrsearchresult a:focus {
    text-decoration: none;
}

.lunrsearchresult a:hover .title {
    text-decoration: underline;
}

/*--- Footer ---*/

.page-footer {
    background-color: rgb(160, 160, 160);
    color: rgb(40, 40, 40);
    padding: 60px 0 5px;
}

.footer-copyright {
    color: rgb(40, 40, 40);
    padding: 30px 0;
}

.footer-brand img {
    max-height: 55px;
    margin: 30px 0 0 10px;
}

/*--- mobile ---*/

@media (max-width: 575.98px) {
    /* body {
        padding: 60px 0 0 0;
    } */
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 15%;
        transform: none;
        text-align: center;
    }
    .navbar-brand img {
        max-height: 45px;
    }
    .description h1 {
        font-size: 2em;
    }
    .description p {
        font-size: 1.2rem;
    }
    .features {
        margin: 0;
    }
    .input-group {
        margin: 5px 0 8px 0;
    }
    footer .col-sm-6 {
        width: 50%;
    }
}

/*--- buttons ---*/

@media screen and (min-width: 0\0) and (min-resolution: +72dpi) {
    .header,
    .masthead {
        background-attachment: scroll !important;
    }
}

/*--- profile section ---*/

section.team {
    background-color: rgb(223, 223, 223);
}

.team .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
    .team .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .team .card:hover .btn {
        opacity: 1;
    }
}

.introduction p {
    color: rgb(94, 92, 92);
    font-size: 1.2rem;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

/*--- landing page buttons ---*/

.landing-buttons a.btn,
.block-button a.btn {
    width: 100%;
}

.landing-buttons .col-sm-12 {
    flex-basis: 100%;
}

/*--- general changes ---*/

.visually-hidden {
    display: none;
}

/*--- blockquotes ---*/

blockquote {
    background: #f6f9f1;
    font-size: 1.3rem;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

/*--- Lightbox ---*/

#lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9999999;
    line-height: 0;
    cursor: pointer;
    display: none;
}

#lightbox .img {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#lightbox .img img {
    opacity: 0;
    pointer-events: none;
    width: auto;
}

@media screen and (min-width: 1200px) {
    #lightbox .img {
        max-width: 1200px;
    }
}

@media screen and (min-height: 1200px) {
    #lightbox .img {
        max-height: 1200px;
    }
}

#lightbox span {
    display: block;
    position: fixed;
    bottom: 13px;
    height: 1.5em;
    line-height: 1.4em;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#lightbox span {
    display: none;
}

#lightbox .videoWrapperContainer {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 900px;
    max-height: 100%;
}

#lightbox .videoWrapperContainer .videoWrapper {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 56.333%;
    /* custom */
    background: black;
}

#lightbox .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
}

#lightbox #prev,
#lightbox #next {
    height: 50px;
    line-height: 36px;
    display: none;
    margin-top: -25px;
    position: fixed;
    top: 50%;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
    color: white;
    font-size: 60px;
}

#lightbox.gallery #prev,
#lightbox.gallery #next {
    display: block;
}

#lightbox #prev {
    left: 0;
}

#lightbox #next {
    right: 0;
}

#lightbox #close {
    height: 50px;
    width: 50px;
    position: fixed;
    cursor: pointer;
    text-decoration: none;
    z-index: 99;
    right: 0;
    top: 0;
}

#lightbox #close:after,
#lightbox #close:before {
    position: absolute;
    margin-top: 22px;
    margin-left: 14px;
    content: "";
    height: 3px;
    background: white;
    width: 23px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* Safari */
    -webkit-transform: rotate(-45deg);
    /* Firefox */
    -moz-transform: rotate(-45deg);
    /* IE */
    -ms-transform: rotate(-45deg);
    /* Opera */
    -o-transform: rotate(-45deg);
}

#lightbox #close:after {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
}

#lightbox,
#lightbox * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*--- image gallery ---*/

.image-gallery {
    overflow: auto;
    margin-left: -1% !important;
}

.image-gallery li {
    float: left;
    display: block;
    margin: 0 0 1% 1%;
    width: 19%;
}

.image-gallery li a {
    text-align: center;
    text-decoration: none !important;
    color: #777;
}

.image-gallery li a span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0;
}

.image-gallery li a img {
    width: 100%;
    display: block;
}

ul.image-gallery {
    padding-inline-start: 0.25rem;
}

/*--- news section ---*/

p.news-intro {
    color: rgb(189, 11, 11);
}

/*--- news homepage cards ---*/

section.news {
    padding: 100px 0;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;
}

.card-img img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-img span {
    position: absolute;
    top: 15%;
    left: 25%;
    background: #1abc9c;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%, -50%);
}

.card-img span h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 5px;
    line-height: 0;
}

.card-desc {
    padding: 1.25rem;
}

.card-desc h3 {
    color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0.3rem 0 0 0;
}

.btn-card {
    background-color: #1abc9c;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-card:hover {
    background: orange;
}

a.btn-card {
    text-decoration: none;
    color: #fff;
}

/* End card section */

/*--- icons ---*/

p {
    i.fa,
    i.fas,
    i.far {
        font-size: 1.6rem;
        margin-right: 12px;
    }
    a {
        text-decoration: underline;
    }
}

.fa-file-pdf {
    color: rgb(186, 8, 8);
}

.fa-file-word {
    color: #4083ff;
}

.fa-file-excel {
    color: #16c224;
}

/*--- general ---*/

p a:not(.no-style) {
    background: linear-gradient(to bottom, (#4083ff) 0%, (#4083ff) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    padding: 0 4px 2px 4px;
    text-decoration: none;
    transition: background-size 0.3s;
}

p a:hover:not(.no-style) {
    background-size: 3px 1.4rem;
    color: #fff;
}
