---
---
@import "bootstrap/bootstrap";
@import "main";

img.half-width-wrap-left {
    @extend .float-md-left;
    @extend .col-md-6;
    width: unset;
    @extend .p-0;
}

img.half-width-wrap-right {
    @extend .float-md-right;
    @extend .col-md-6;
    width: unset;
    @extend .p-0;
}

img.two-third-width-wrap-right {
    @extend .float-md-right;
    @extend .col-md-8;
    width: unset;
    @extend .p-0;
}

img.two-third-width-wrap-left {
    @extend .float-md-left;
    @extend .col-md-8;
    width: unset;
    @extend .p-0;
}