---
---
@import "bootstrap/bootstrap";
@import "main";

img.half-wrap-left {
    @extend .float-md-left;
    @extend .m-0;
    @extend .mr-md-3;
    @extend .mb-md-3;
    @extend .col-md-6;
    width: unset;
    @extend .p-0;
}

img.two-third-wrap-left {
    @extend .float-md-left;
    @extend .m-0;
    @extend .mr-md-3;
    @extend .mb-md-3;
    @extend .col-md-8;
    width: unset;
    @extend .p-0;
}

img.half-wrap-right {
    @extend .float-md-right;
    @extend .m-0;
    @extend .ml-md-3;
    @extend .mb-md-3;
    @extend .col-md-6;
    width: unset;
    @extend .p-0;
}

img.two-third-wrap-right {
    @extend .float-md-right;
    @extend .m-0;
    @extend .ml-md-3;
    @extend .mb-md-3;
    @extend .col-md-8;
    width: unset;
    @extend .p-0;
}

img.logo-left {
    @extend .float-left;
    @extend .mr-3;
    @extend .mb-md-3;
    @extend .mb-2;
    @extend .col-4;
    width: unset;
    @extend .p-0;
    height: auto;
}

img.logo-right {
    @extend .float-right;
    @extend .ml-3;
    @extend .mb-md-3;
    @extend .mb-2;
    @extend .col-4;
    width: unset;
    @extend .p-0;
    height: auto;
}

body {
    @include font-size(1.1rem);
}

h1 {
    @include font-size(2.5rem);
}

blockquote {
    @include font-size(1.25rem);
}

.alert-card h2 .btn {
    @include font-size(1.25rem);
}

.card-desc h3 {
    @include font-size(1.5rem);
}

.card-desc p {
    @include font-size(1rem);
}

.landing-btn, .link-btn {
    @include font-size(1.25rem);
}

.scrollspy h2 {
    @include font-size(2rem);
}

.content-accordion h2 .btn {
    @include font-size(1.25rem);
}

.fc h2.fc-toolbar-title {
    @include font-size(2rem);
}

.fc-toolbar-chunk .btn-group .btn:first-child {
    @extend .rounded-left;
}

.fc-toolbar-chunk .btn-group .btn:last-child {
    @extend .rounded-right;
}

.fc-today-button {
    @extend .rounded;
}