<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navigation.html %}
    <section class="container py-3">
        <div class="pb-2">
            {% include breadcrumbs.html %}
            <h1 id="skipto" class="mt-2" data-i18n="{{ page.title | slugify }}_title"> {{ page.title}} </h1>
            <div class="row">
                <div class="col-12" id="main-section">
                    <div id="content" data-i18n="{{ page.title | slugify }}_content"> {{ content }}</div>
                    <hr class="hr-dashed">
                    {% include calendar-launch.html %}
                </div>
            </div>
        </div>
    </section>
    {% include calendar-modal.html %}
    {% include footer.html %}
    {% include scripts-calendar.html %}

</body>

</html>