<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navigation.html %}
    {% if page.header_image %}
    {% include hero-image.html %}
    {% endif %}
    <section class="container py-3">
        <div class="pb-2">
            {% include breadcrumbs.html %}
            <h1 class="mt-2" data-i18n="{{ page.title | slugify }}_title"> {{ page.title}} </h1>
            <div class="row">
                {% if page.display_scroll_section %}
                <div id="content" class="col-lg-8 col-sm-12" data-i18n="{{ page.title | slugify }}_content">{{ content }}</div>
                {% endif %}
                <div class="col-lg-8 col-sm-12" id="main-section">
                    {% if page.display_scroll_section %}
                    {% else %}
                    <div id="content" data-i18n="{{ page.title | slugify }}_content">
                    </div>
                    {% endif %}
                    {% if page.display_scroll_section %}
                    {% include scrollspy-content.html %}
                    {% endif %}
                    {% if page.display_expandable-section %}
                    {% include accordion.html %}
                    {% endif %}
                    {% if page.button.button_link %}
                    {% include link-button.html %}
                    {% endif %}
                </div>
                <div class="col-lg-4 col-sm-12" id="right-section">
                    {% if page.display_scroll_section %}
                    {% include scrollspy-links.html %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include scripts.html %}


</body>

</html>