<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include navigation.html %}
    {% if page.header_image %}
    {% include hero-image.html %}
    {% endif %}
    <section class="py-5">
        <div class="container">
            {% if page.header_image %}
            {% else %}
            <h1> {{ page.title}} </h1>
            {% endif %}
            {{ content }}
        </div>

        {% for block in page.page_blocks %}
        {% case block._id %}
        {% when 'text_block' %}
        {% include text-block.html block=block %}
        {% when 'link_button' %}
        {% include link-button.html block=block %}
        {% when 'introduction_text' %}
        {% include introduction-text.html block=block %}
        {% endcase %}
        {% endfor %}

    </section>

    {% include footer.html %}
    {% include scripts.html %}

</body>

</html>